$bg_form: #eee2dc;
.footer__page {
    
    position: relative;
    background-color:  #276397;
    padding-top: 3px;
    padding-bottom: 10px;
    border-top: 4px double #00887A ;
    width: 100%;
    
}
.ft-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ul-no-bullets {
    list-style-type: none;
}


.ft-copyright-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: honeydew;
}

.ft-copyright-list li {
    white-space: nowrap;
}
